@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

/* Set coloring scheme for whole presentation */
.lmu-green {color: #00883A}
.lmu-black {color: #232323}
.lmu-white {color: #FFFFFF}
.lmu-blue {color: #0F1987}
.lmu-cyan {color: #009FE3}
.lmu-violet {color: #8C4091}
.lmu-red {color: #D71919}
.lmu-orange {color: #F18700}

/* Set layout and settings for slide appearance */
.reveal {
  font-family: 'Roboto', sans-serif;
}

.reveal h1, .reveal h2, .reveal h3 {
  font-family: 'Roboto', sans-serif;
}

.reveal .title {
  font-size: 1.2em;
}

.reveal .date,
.reveal .subtitle,
.reveal .affiliation,
.reveal .institute {
  font-size: 0.7em;
}

.reveal .slide-number {
  bottom: 12px !important;
  right: 8px !important;
  top: unset !important;
}

.reveal .slide-logo {
  height: 100px !important;
  width: 100px!important;
  max-width: unset !important;
  max-height: unset !important;
  top: 0px !important;
  right: 50px !important;
}

.reveal .footer {
  font-size: 0.4em !important;
  text-align: justify !important;
  display: block;
}

.reveal figcaption,
.reveal p.caption {
  text-align: center !important;
}

.custom-smaller{
  font-size: 0.75em;
}

/* Center the whole table */
.reveal table {
  margin-left: auto;
  margin-right: auto;
}

/* Justify cell text */
.reveal table td,
.reveal table th {
  text-align: center;
}

.center-slide {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 1.8em;
    height: 80vh;
    width: 100%;
    margin: 0 auto;
}

.center-text {
  text-align: center;
}

/* Bibliography slide */
.reveal #refs,
.reveal #refs .csl-entry {
  font-family: 'Roboto', sans-serif;
  font-size: 1.04em !important;
  text-align: justify;
  hyphens: auto;
}

 .refs-slide h2 {
  font-size: 1.75em !important;
}

